<div class="card-container"> 
    <h1 class="title">{{name}}</h1>
    <div class="card_body">
        <div class="coutry-description">
        <h2 class="capital">
            <span> Capital:</span>{{ capital }}
            </h2>
        <h2 class="population">
            <span> Population:</span>{{ population }}
            </h2>
       <h2 class="languages">
        <span> Languages:</span>
       </h2>
        <ul class="languages-list">
            {{#each languages}}
            <li class="language-list__item">
                {{ name }}
                </li>
            {{/each}}
        </ul>
        </div>
    <img src={{flag}} alt={{name}} class="img-card" width="400px"/>
    </div>
</div>
